* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.welcome_animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.major_animation_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font_primary);
}